
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Cảm ơn quý khách đã đặt hàng, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất có thể, nếu quá 1 ngày chúng tôi chưa liên hệ với bạn cảm phiền bạn liên hệ <a href="https://facebook.com/MarkZuckerberg">Facebook</a> </h2>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "LaptopStore")
</p>

